<h3><%= t("packages.tellsell.title") %></h3>

	<hr>
                                
    <%= t("packages.tellsell.content") %>
    
    <hr class="small">
    
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-desktop fa-stack-1x text-primary"></i>
    </span>
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-bullseye fa-stack-1x text-primary"></i>
    </span>
    <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-paypal fa-stack-1x text-primary"></i>
    </span>

    <hr>
    <p class="lead">375,- EUR ttc</p>
                               
                                
    <!--<%= link_to t("button.discover_more"), tell_sell_path %>  -->                        
<%= link_to t("button.submit_project"), "mailto:contact@appstratgram.com", class: "btn btn-success btn-block" %>