<div class="container">

	<h1>Le pack "Tell & Sell" 
	<br><small>Adressez-vous à votre public, et vendez vos produits</small>
</h1>


<p>Le pack "Tell & Sell" s'adresse à toutes celles et ceux qui démarrent sur le web, souhaitent écrire ou parler de leur activité, tout en proposant aux visiteurs des produits directement achetables via paypal.</p>

<p>
Il est donc l'idéal pour
<ul>
	<li>Les <b>asbl</b></li>
	<li>Les artistes <b>auteurs ou éditeurs</b></li>
	<li>Les <b>avocats, médecins, architectes</b></li>
</ul>
</p>

Est compris dans le pack
<ul>
	<li>Une interface d'administration facile</li>
	<li>Module dynamique Articles (inclus commentaires DISQUS)</li>
	<li>Module dynamique Produits (inclus bouton Paypal)</li>
	<li>Design standard : sobre et épuré</li>
	<li>SEO de base</li>
	<li>Réseaux sociaux : partage de base</li>
	<li>2 pages statiques, au choix (exemple : présentation, contact, philosophie,...)</li>
</ul>

Vous en voulez plus ?
<br>Découvrez quelques options :

<ul>
	<li>Multilingue : <b>50,- EUR par langue</b></li>
	<li>Module supplémentaires (ex : module Evénements, Album photo,...): <b>200,- EUR par module</b></li>
	<li>Design non standard : <b>150,- EUR</b></li>
	<li>Optimisation SEO : <b>150,- EUR</b></li>
</ul>



</div>
